@model IEnumerable<Medinlinea.Models.Estadisticas>
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantBusquedas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClickEnPaginaWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultasRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClickEnCurriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialistas.NombreEsp)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantBusquedas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClickEnPaginaWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultasRealizadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClickEnCurriculum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialistas.NombreEsp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdEstadistica }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdEstadistica }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdEstadistica })
            </td>
        </tr>
    }

    </table>*@



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

            <form action="" id="form-especialista">
                <h2 style="text-align: center;">Estadistica por Especialista</h2>
                <br>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Especialista</label>
                    <div class="col-sm-9">
                        <select name="tipo-membresia" name="nombre-vendedor" class="form-control">
                            <option value="premium">Seleccione Especialista</option>
                            <option value="premium">Leonardo Montes</option>
                            <option value="gratuita">Jonathan Ospina</option>
                        </select>
                        <br>
                    </div>
                </div>
            </form>
            <p class="text-center">
                <button type="button" name="paginar" onclick="getPagPublication(null);" class="btn btn-primary btn-sm">Ver</button>

                <button type="button" name="paginar" onclick="getPagPublication(null);" class="btn btn-default btn-sm">Volver</button>
            </p>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Busquedas</th>
                            <th>Click en Url</th>
                            <th>Consultas</th>
                            <th>Click en CV</th>
                            <th>Click en publicidad</th>
                            <th>Calificacion</th>
                            <th>Nombre Especialista</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CantBusquedas)</td>
                            <td>@Html.DisplayFor(modelItem => item.ClickEnPaginaWeb)</td>
                            <td>@Html.DisplayFor(modelItem => item.ConsultasRealizadas)</td>
                            <td>@Html.DisplayFor(modelItem => item.ClickEnCurriculum)</td>
                            <td></td>
                            <td>3</td>
                            <td>@Html.DisplayFor(modelItem => item.Especialistas.NombreEsp)</td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>
