@model Medinlinea.Models.Articulos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrap">

    <!--DATOS DEL LADO IZQUIERDO-->
    <div id="div_info_perfil" style="display:block" class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-lg-offset-2">

        <!--DATOS DEL CANDIDATO-->
        <br>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="col-xs-3 col-sm-3 img-perfilDos">
                <span></span>
                <img id="foto" class="img-responsive" src="@Model.ImagenArt">
            </div>
            <div class="col-xs-9 col-sm-9">

                <div class="col-xs-12 col-sm-12">
                    <p><strong><span id="nombre">@Model.Titulo</span></strong></p>
                    <p><strong>Autor: </strong><span id="empresa_actual">@Model.Especialistas.NombreEsp @Model.Especialistas.ApellidoEsp</span></p>
                    <p><strong>Etiquetas: </strong><span id="empresa_actual">@Model.Etiquetas</span></p>
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" id="seccion_informacion">
            <br>
            <br>
            <div class="cajaTituloTrayectoria">
                <p class="letterTituloContacto text-center"><span class="titulosGeneralesPerfil">RESUMEN ARTICULO</span></p>
            </div>

            <!--DATOS DE PERFIL PROFESIONAL-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="perfilProfesional">
                    <span id="perfil_profesional">@Model.Resumen</span>
                </p>
                <hr class="separar">
            </div>
            <br>
            <br>
            <div class="cajaTituloTrayectoria">
                <p class="letterTituloContacto text-center"><span class="titulosGeneralesPerfil">DESCRIPCIÓN ARTICULO</span></p>
            </div>

            <!--DATOS DE PERFIL PROFESIONAL-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="perfilProfesional">
                    <span id="perfil_profesional">@Model.Cuerpo</span>
                </p>
                <hr class="separar">
            </div>


        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <input type="submit" value="Delete" class="btn btn-success" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
        }

    </div>

</div>
