@using Medinlinea.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Medenlinea</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/Style/Styles.css" rel="stylesheet" />
    <!--<link rel="shortcut icon" href="../favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="~/Style/estilos.css" />
    <link rel="stylesheet" type="text/css" href="~/Style/estilos-slide.css" />
    <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.css">
    <link href="~/lib/bootstrapValidator-0.5.2/css/bootstrapValidator.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
</head>
<body>
    @{var lstMensajes = (ViewBag.lstMensajes != null) ? (List<Mensaje>)ViewBag.lstMensajes : new List<Mensaje>();
    UsuarioAuth usuario = (UsuarioAuth)Session["usuario"];
    }


    @{
        if (usuario == null)
        {
            <div class="codrops-top">
                <a href='/'><h2 class="logo"><span class="letra-med">MED</span><span class="letra-enlinea">ENLINEA</span></h2></a>
                <a href="#" data-toggle="modal" data-target="#myModal"><h2 class="iniciar-sesion"><i class="glyphicon glyphicon-user"></i> Iniciar session</h2></a>
            </div><!--/ Codrops top bar -->
        }
        else if (usuario.rol == 1)
        {
            <div class='menuwrap'>

                <nav id='menu'>
                    <input type='checkbox' />

                    <label>
                        <i class="fa fa-bars"></i>
                        <span></span>
                    </label>
                    <ul>
                        <li><a href='/'><h2 class="logo-dos"><span class="letra-med-dos">MED</span><span class="letra-enlinea-dos">ENLINEA</span></h2></a></li>
                        <li>
                            <a href='#'>Gestion Estadisticas <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                @* Pendiente *@
                                <li><a href='~/Administrador/EstadisticasGlobales'>Ver Estadisticas / Globales</a></li>
                                @* Pendiente *@
                                <li><a href='~/Administrador/EstadisticasEspecialista'>Ver Estadisticas / Especialistas</a></li>
                                @*<li><a href='#'>Ver Calificacion</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Gestion Comerciales <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href='~/Administrador/IngresarComercial'>Ingresar Nuevo Vendedor</a></li>
                                @*<li><a href='~/Administrador/EliminarComercial'>Eliminar Vendedor</a></li>*@
                                <li><a href="/Usuario/Index">Listado de Vendedores</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Gestion Especialistas <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href="~/Especialista/Index">Buscar Especialistas</a></li>
                                <li><a href='~/Administrador/InsertarEspecialista'>Ingresar Nuevo Especialista</a></li>
                                <li><a href='~/Administrador/AgregarConsultorio'>Agregar Consultorio</a></li>
                                <li><a href='~/Direccion/index'>Listado Consultorio</a></li>
                                <li><a href='~/Membresia/Index'>Ver Vigencias de Suscripcion</a></li>
                                <li><a href='~/Administrador/GestionarSuscripcion'>Desactivar o Activar Suscripciones</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Gestion Ciudades <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                @*<li><a href="~/Administrador/AgregarCiudad">Agregar Ciudad</a></li>*@
                                <li><a href="~/Administrador/AgregarCiudad">Agregar Ciudad</a></li>
                                <li><a href="~/Ciudad/Index">Editar / Eliminar Ciudades</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Gestion Especialidades <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href='~/Administrador/AgregarEspecialidad'>Agregar Especialidades</a></li>
                                <li><a href='~/Especialidad/index'>Listado Especialidad</a></li>
                                <li><a href='~/Administrador/EspecialidadCarrusel'>Adicinar Especialidad Carrusel</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Gestion Publicidad <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href='~/Administrador/AdicionarPublicidad'>Adicionar Publicidad</a></li>
                                <li><a href='~/Administrador/EliminarPublicidad'>Eliminar Publicidad</a></li>
                            </ul>
                        </li>
                        <li><a href='Chat'>Chat</a></li>
                        <li><a href='~/Home/CerrarSesion'>Cerrar sesión</a></li>
                    </ul>
                </nav>
            </div>


        }
        else if (usuario.rol == 2)
        {

            <div class='menuwrap'>

                <nav id='menu'>
                    <input type='checkbox' />

                    <label>
                        <i class="fa fa-bars"></i>
                        <span></span>
                    </label>
                    <ul>
                        <li><a href='/'><h2 class="logo-dos"><span class="letra-med-dos">MED</span><span class="letra-enlinea-dos">ENLINEA</span></h2></a></li>
                        <li>
                            <a href='#'>Especialistas <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href='~/Administrador/InsertarEspecialista'>Ingresar Nuevo Especialista</a></li>
                                <li><a href='~/Administrador/AgregarConsultorio'>Agregar Consultorio</a></li>
                            </ul>
                        </li>
                        <li><a href='~/Home/CerrarSesion'>Cerrar sesión</a></li>
                    </ul>
                </nav>
            </div>
        }
        else if (usuario.rol == 3)
        {
            <div class='menuwrap'>

                <nav id='menu'>
                    <input type='checkbox' />

                    <label>
                        <i class="fa fa-bars"></i>
                        <span></span>
                    </label>
                    <ul>
                        <li><a href='/'><h2 class="logo-dos"><span class="letra-med-dos">MED</span><span class="letra-enlinea-dos">ENLINEA</span></h2></a></li>
                        <li><a href='#'>Estadisitcas</a></li>
                        <li>
                            <a href='#'>Articulos <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href='~/Articulo/index'>Gestionar articulos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#'>Mis Datos <font size='1'>&#9660;</font></a>
                            <ul class='menus'>
                                <li><a href='~/Especialista/Edit?id=@usuario.id'>Actualizar Datos</a></li>
                                <li><a href='~/Curriculum/Create'>Ingresar Hoja de Vida</a></li>
                                <li><a href='~/Curriculum/Index'>Mostr Hoja de Vida</a></li>
                            </ul>
                        </li>
                        <li><a href='~/Home/CerrarSesion'>Cerrar sesión</a></li>
                    </ul>
                </nav>
            </div>
        }

    }

    <div>
        @RenderBody()


    </div>

    <div id="loading" class="divLoading">
        <div class="cssload-dots">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
        </div>
    </div>


    <div class="alert alert-success flyover flyover-bottom alerta-verde" id="msj-success">
    </div>
    <div class="alert alert-danger flyover flyover-bottom alerta-roja" id="msj-error">
    </div>

    <!--EMPIEZA EL MODAL-->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Iniciar sesión</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="form-logueo-usuario" enctype="multipart/form-data" action="~/Home/Autenticacion" method="post" onsubmit="showLoading();">
                        <input type="text" name="user_name" id="user_name" required autofocus placeholder="Ingrese su usuario">
                        <input type="password" name="contrasena" id="contrasena" required placeholder="Ingrese su contraseña">

                        <button value='Ingresar' name="enviar" type='submit'>Ingresar</button>
                    </form>
                    <a href="~/Home/RestaurarPassword">Olvide mi contraseña</a>
                </div>
            </div>
        </div>
    </div>

    <!--TERMINA MODAL-->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/lib/bootstrapValidator-0.5.2/js/bootstrapValidator.js"></script>
    <script src="~/lib/jquery-steps/js/jquery.steps.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            hideLoading();
            //Muestro los mensajes enviados por el servidor
            @foreach (var d in @lstMensajes)
            {
                if (@d.tipo.ToUpper() == "ERROR")
                {

                        @:messageError("@d.titulo", "@d.cuerpo");
                                                                                                                                                                                                                                                                                                                                                                                }
                else
                {
                        @:messageSuccess("@d.titulo", "@d.cuerpo");
                                                                                                                                                                                                                                                                                                                                                                                                            }
            }
        });

        $(".owl-carousel").owlCarousel({
            margin: 10
        });

        $('#myModal').on('shown.bs.modal', function () {
        });

        $(function () {
            var form = $("#form-especialista");
            $("#form-especialista").steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                labels: {
                    cancel: "Cancelar",
                    current: "Actual paso:",
                    pagination: "Paginacion",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando ..."
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    if (currentIndex == 2) {
                        initialize();
                    }
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (newIndex > currentIndex) {
                        form.bootstrapValidator('validate');
                        var bootstrapValidator = form.data('bootstrapValidator');
                        if (bootstrapValidator.isValid()) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                },
                onFinishing: function (event, currentIndex) {
                    form.bootstrapValidator('validate');
                    var bootstrapValidator = form.data('bootstrapValidator');
                    if (bootstrapValidator.isValid()) {
                        showLoading();
                        formulario = document.getElementById("form-especialista");
                        formulario.submit();
                    }
                }
            });

            form.bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok-circle',
                    invalid: 'glyphicon glyphicon-ban-circle',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    nombre_especialista: {
                        validators: {
                            notEmpty: {
                                message: "El nombre del especialista es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo nombre solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    apellido_especialista: {
                        validators: {
                            notEmpty: {
                                message: "El apellido del especialista es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo apellido solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    email_especialista: {
                        validators: {
                            notEmpty: {
                                message: "El e-mail es requerido"
                            },
                            regexp: {
                                regexp: /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                                message: 'No es una dirección de correo electrónico válida'
                            }
                        }
                    },
                    idEspecialidad: {
                        validators: {
                            callback: {
                                message: 'El especialista es requerido',
                                callback: function (value, validator, $field) {
                                    var options = validator.getFieldElements('idEspecialidad').val();
                                    return (options != null && options.length > 0);
                                }
                            }
                        }
                    },
                    tipo_membresia: {
                        validators: {
                            callback: {
                                message: 'El tipo de membresia  es requerida',
                                callback: function (value, validator, $field) {
                                    var options = validator.getFieldElements('tipo_membresia').val();
                                    return (options != null && options.length > 0);
                                }
                            }
                        }
                    },
                    fecha_inicio_membresia: {
                        validators: {
                            notEmpty: {
                                message: "La fecha de inicio es requerido"
                            }
                        }
                    },
                    fecha_fin_membresia: {
                        validators: {
                            notEmpty: {
                                message: "La fecha de fin es requerido"
                            }
                        }
                    },
                    idCiudad: {
                        validators: {
                            callback: {
                                message: 'La ciudad es requerida',
                                callback: function (value, validator, $field) {
                                    var options = validator.getFieldElements('idCiudad').val();
                                    return (options != null && options.length > 0);
                                }
                            }
                        }
                    },
                    calle_consultorio: {
                        validators: {
                            notEmpty: {
                                message: "La calle es requerido"
                            }
                        }
                    },
                    confirmar_contraseña_especialista: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            identical: {
                                field: 'contrasena_vendedor',
                                message: 'La contraseña anteriormente escrita no coincide con la que escribiste'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    },
                    contraseña_especialista: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    }
                }
            });
        });

        $(function () {
            var form = $("#form-especialista-editar");
            $("#form-especialista-editar").steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                labels: {
                    cancel: "Cancelar",
                    current: "Actual paso:",
                    pagination: "Paginacion",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando ..."
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    if (currentIndex == 2) {
                        initialize();
                        setLatitudLongitud();
                    }
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (newIndex > currentIndex) {
                        form.bootstrapValidator('validate');
                        var bootstrapValidator = form.data('bootstrapValidator');
                        if (bootstrapValidator.isValid()) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                },
                onFinishing: function (event, currentIndex) {
                    form.bootstrapValidator('validate');
                    var bootstrapValidator = form.data('bootstrapValidator');
                    if (bootstrapValidator.isValid()) {
                        showLoading();
                        formulario = document.getElementById("form-especialista-editar");
                        formulario.submit();
                    }
                }
            });

            form.bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok-circle',
                    invalid: 'glyphicon glyphicon-ban-circle',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    nombre_especialista: {
                        validators: {
                            notEmpty: {
                                message: "El nombre del especialista es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo nombre solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    apellido_especialista: {
                        validators: {
                            notEmpty: {
                                message: "El apellido del especialista es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo apellido solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    email_especialista: {
                        validators: {
                            notEmpty: {
                                message: "El e-mail es requerido"
                            },
                            regexp: {
                                regexp: /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                                message: 'No es una dirección de correo electrónico válida'
                            }
                        }
                    },
                    idEspecialidad: {
                        validators: {
                            callback: {
                                message: 'El especialista es requerido',
                                callback: function (value, validator, $field) {
                                    var options = validator.getFieldElements('idEspecialidad').val();
                                    return (options != null && options.length > 0);
                                }
                            }
                        }
                    },
                    tipo_membresia: {
                        validators: {
                            callback: {
                                message: 'El tipo de membresia  es requerida',
                                callback: function (value, validator, $field) {
                                    var options = validator.getFieldElements('tipo_membresia').val();
                                    return (options != null && options.length > 0);
                                }
                            }
                        }
                    },
                    fecha_inicio_membresia: {
                        validators: {
                            notEmpty: {
                                message: "La fecha de inicio es requerido"
                            }
                        }
                    },
                    fecha_fin_membresia: {
                        validators: {
                            notEmpty: {
                                message: "La fecha de fin es requerido"
                            }
                        }
                    },
                    idCiudad: {
                        validators: {
                            callback: {
                                message: 'La ciudad es requerida',
                                callback: function (value, validator, $field) {
                                    var options = validator.getFieldElements('idCiudad').val();
                                    return (options != null && options.length > 0);
                                }
                            }
                        }
                    },
                    calle_consultorio: {
                        validators: {
                            notEmpty: {
                                message: "La calle es requerido"
                            }
                        }
                    },
                    confirmar_contraseña_especialista: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            identical: {
                                field: 'contrasena_vendedor',
                                message: 'La contraseña anteriormente escrita no coincide con la que escribiste'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    },
                    contraseña_especialista: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    }
                }
            });
        });

        $(function () {
            var form = $("#form-comercial");

            $("#form-comercial").steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                labels: {
                    cancel: "Cancelar",
                    current: "Actual paso:",
                    pagination: "Paginacion",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando ..."
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (newIndex > currentIndex) {
                        form.bootstrapValidator('validate');
                        var bootstrapValidator = form.data('bootstrapValidator');
                        if (bootstrapValidator.isValid()) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                },
                onFinishing: function (event, currentIndex) {
                    form.bootstrapValidator('validate');
                    var bootstrapValidator = form.data('bootstrapValidator');
                    if (bootstrapValidator.isValid()) {
                        showLoading();
                        formulario = document.getElementById("form-comercial");
                        formulario.submit();
                    }
                }
            });

            form.bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok-circle',
                    invalid: 'glyphicon glyphicon-ban-circle',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    nombre_vendedor: {
                        validators: {
                            notEmpty: {
                                message: "El nombre del vendedor es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo nombre solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    apellido_vendedor: {
                        validators: {
                            notEmpty: {
                                message: "El apellido del vendedor es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo apellido solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    email_vendedor: {
                        validators: {
                            notEmpty: {
                                message: "El e-mail es requerido"
                            },
                            regexp: {
                                regexp: /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                                message: 'No es una dirección de correo electrónico válida'
                            }
                        }
                    },
                    confirmar_contrasena_vendedor: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            identical: {
                                field: 'contrasena_vendedor',
                                message: 'La contraseña anteriormente escrita no coincide con la que escribiste'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    },
                    contrasena_vendedor: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    }
                }
            });

        });

        $(function () {
            var form = $("#form-comercial-editar");

            $("#form-comercial-editar").steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                labels: {
                    cancel: "Cancelar",
                    current: "Actual paso:",
                    pagination: "Paginacion",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando ..."
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (newIndex > currentIndex) {
                        form.bootstrapValidator('validate');
                        var bootstrapValidator = form.data('bootstrapValidator');
                        if (bootstrapValidator.isValid()) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                },
                onFinishing: function (event, currentIndex) {
                    form.bootstrapValidator('validate');
                    var bootstrapValidator = form.data('bootstrapValidator');
                    if (bootstrapValidator.isValid()) {
                        showLoading();
                        formulario = document.getElementById("form-comercial-editar");
                        formulario.submit();
                    }
                }
            });

            form.bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok-circle',
                    invalid: 'glyphicon glyphicon-ban-circle',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    nombre_vendedor: {
                        validators: {
                            notEmpty: {
                                message: "El nombre del vendedor es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo nombre solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    apellido_vendedor: {
                        validators: {
                            notEmpty: {
                                message: "El apellido del vendedor es requerido"
                            },
                            regexp: {
                                regexp: /^[a-z áéíóúñüàè]+$/i,
                                message: 'El campo apellido solo permite caracteres alfabéticos'
                            }
                        }
                    },
                    email_vendedor: {
                        validators: {
                            notEmpty: {
                                message: "El e-mail es requerido"
                            },
                            regexp: {
                                regexp: /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                                message: 'No es una dirección de correo electrónico válida'
                            }
                        }
                    },
                    confirmar_contrasena_vendedor: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            identical: {
                                field: 'contrasena_vendedor',
                                message: 'La contraseña anteriormente escrita no coincide con la que escribiste'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    },
                    contrasena_vendedor: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            },
                            stringLength: {
                                min: 6,
                                message: 'La contraseña tiene que contener minimo 6 caracteres'
                            },
                            different: {
                                field: 'email_logueo',
                                message: 'La contraseña no puede ser igual E-mail '
                            }
                        }
                    }
                }
            });

        });
    </script>



</body>
</html>