@model Medinlinea.Models.Publicidades

@{
    ViewBag.Title = "Details";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Style/estilos.css" rel="stylesheet" />
<link href="~/lib/bootstrap-rating/css/star-rating.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap-rating/css/star-rating.css" rel="stylesheet" />

<div class="content-wrap">

    <!--DATOS DEL LADO IZQUIERDO-->
    <div id="div_info_perfil" style="display:block" class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-lg-offset-2">
        <div class="col-xs-12 col-sm-12">
            <div class="cajaTitulo">
                <p class="text-center" style="font-size:30px !important; color:white;">DETALLE</p>
            </div>
        </div>
        <!--DATOS DEL CANDIDATO-->
        <br>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            
            <div class="col-xs-3 col-sm-3 img-perfilDos">
                <span></span>
                <img id="foto" class="img-responsive" src="@Model.ImagenPub">
            </div>

            <div class="col-xs-9 col-sm-9">

                <div class="col-xs-12 col-sm-12">
                    <p class="text-left"><span style="font-size:23px !important;">@Model.Especialistas.NombreEsp @Model.Especialistas.ApellidoEsp</span></p>
                    <p><strong>Tipo publicidad: </strong><span id="empresa_actual">@Model.TipoPublicidad</span></p>
                    <p><strong>Cantidad clicks: </strong><span id="empresa_actual">@Model.CantidadClicks</span></p>
                    
                </div>
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>

            </div>

        </div>

    </div>

</div>