@model Medinlinea.Models.Direcciones

@{
    ViewBag.Title = "Delete";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Style/estilos.css" rel="stylesheet" />
<link href="~/lib/bootstrap-rating/css/star-rating.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap-rating/css/star-rating.css" rel="stylesheet" />


<div class="content-wrap">

    <div class="col-xs-12 col-sm-12">
        <div class="cajaTitulo">
            <p class="text-center" style="font-size:30px !important; color:white;">ELIMINAR</p>
        </div>
    </div>
    <!--DATOS DEL LADO IZQUIERDO-->
    <div id="div_info_perfil" style="display:block" class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-lg-offset-2">

        <!--DATOS DEL CANDIDATO-->
        <br>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="col-xs-3 col-sm-3 img-perfilDos">
                <span></span>
                <img id="foto" class="img-responsive" src="@Model.Especialistas.FotoEsp">
            </div>

            <div class="col-xs-9 col-sm-9">

                <div class="col-xs-12 col-sm-12">
                    <p class="text-left"><span style="font-size:23px !important;">@Model.Especialistas.NombreEsp @Model.Especialistas.ApellidoEsp</span></p>
                    <p><strong>Ciudad: </strong><span id="empresa_actual">@Model.Ciudades.NombreCiudad</span></p>
                    <p><strong>Direccón: </strong><span id="empresa_actual">@Model.Calle</span></p>
                    <p><strong>Telefono: </strong><span id="empresa_actual">@Model.TelefonoFijo</span></p>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br />
                    <p class="text-left"><i class="fa fa-map-marker fa-2x"></i><span style="font-size:16px !important;">&nbsp;&nbsp;&nbsp; Ubicación del consultorio</span></p>
                    @{
                        string mapStatic = 12.3484647 + ", " + 0.9484575;
                    }
                    <img id="mapa_direccion" class="img-responsive mapa-perfil">
                    <span id="direccio_publicacion"></span>
                    <hr class="separar" />
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="submit" value="Delete" class="btn btn-success" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>

    </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("mapa_direccion").src = 'http://maps.googleapis.com/maps/api/staticmap?center=' + @Model.Latitud + ',' + @Model.Longitud + '&zoom=15&size=500x300&markers=color:red%7Ccolor:red%7C ' + @Model.Latitud + ',' + @Model.Longitud + '&sensor=false';
    });
</script>